<h1>{{title}}</h1>
<div>
    <h2>Click on technologies that you use:</h2>
    <p>
        <button name="Java" onclick="alert('Java')"> Java </button>
        <button name="Node" onclick="alert('Node')"> Node </button>
        <button name="Docker" onclick="alert('Docker')"> Docker </button>
        <button name="Ruby" onclick="alert('Ruby')"> Ruby </button>
        <button name="Python" onclick="alert('Python')"> Python </button>
    </p>
</div>